<p id="notice"><%= notice %></p>
<% if @artist.image.attached? %>
  <img class="h-48 w-full object-cover md:w-48" src="<%= url_for(@artist.image) %>" alt="Artist image">
<% end %>
<div>
<img class="h-48 w-full object-cover md:w-48" src="<%= @artist.image_url %>" alt="Artist image">
<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Artist Link:</strong>
  <%= link_to @artist.url, @artist.url %>
</p>

<h2>Events</h2>

<% if @events.any? %>
  <table class="table-auto w-full border-collapse border border-gray-200">
    <thead>
      <tr class="bg-gray-100">
        <th class="border border-gray-300 px-4 py-2">Event Name</th>
        <th class="border border-gray-300 px-4 py-2">Date and Time</th>
        <th class="border border-gray-300 px-4 py-2">Location</th>
        <th class="border border-gray-300 px-4 py-2">Category</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td class="border border-gray-300 px-4 py-2"><%= link_to event.name, event_path(event) %></td>
           <td class="border border-gray-300 px-4 py-2">
            <% if event.date_time %>
              <%= event.date_time.strftime('%B %d, %Y - %H:%M %p') %>
            <% else %>
              Date and Time not specified
            <% end %>
          </td>
          <td class="border border-gray-300 px-4 py-2"><%= event.venue.name %></td>
          <td class="border border-gray-300 px-4 py-2">
            <% event.classifications.each do |classification| %>
              <%= "#{classification.segment} - #{classification.genre}" %><br>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="flex items-center justify-center m-5 space-x-2">
    <%= paginate @events %>
  </div>
<% else %>
  <p>No events found for this artist.</p>
<% end %>

