<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>
<p>
  <strong>Venue:</strong>
  <%= link_to @event.venue.name, venue_path(@event.venue) %>
</p>
<p>
  <strong>Event Link:</strong>
  <%= @event.url %>
</p>
<p>
  <strong>Main Guests:</strong>
  <% @event.artists.each do |artist| %>
    <%= link_to artist.name, artist_path(artist) %><br>
  <% end %>
</p>
<p>
  <strong>Info:</strong>
  <%= @event.info %>
</p>

<p>
  <strong>Min Price:</strong>
  <%= @event.min_price %>
</p>

<p>
  <strong>Max Price:</strong>
  <%= @event.max_price %>
</p>

<%= link_to 'Back', events_path %>
