<!DOCTYPE html>
<html>
  <head>
    <title>EventsTicketinfo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>
  <nav>
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_path %>
    <%= link_to 'Events', events_path %>
    <%= link_to 'Artists', artists_path %>
    <%= link_to 'Venues', venues_path %>
    <%= link_to 'Classifications', classifications_path %>
  </nav>

  <main class="prose container mx-auto mt-28 ">
    <%= yield %>
  </main>
</body>

</html>
